{{!--
    Global Template: Einstein Decisions

    This global template inserts a promotion, chosen by Einstein Decisions.

    Requirements:
    1) Einstein Decisions is an Interaction Studio Premium Edition feature and is not available to
    growth edition customers.
    2) Set the content zone(s) to that defined in your Sitemap.
    3) Ensure that you have Feature Engineering set up via the Einstein Decisions tab available in the left-hand
    navigation of the platform. If you encounter issues, please contact your account administrator.
    4) Enable Promotions in the dataset's Catalog Setup.
    5) Create and configure Promotions, either manually or through an ETL.

    Customizations:
    1) Remove or change the default value for maxResults in Serverside Code.
--}}

<div id="mcis-einstein-decisions" data-evg-campaign-id="{{campaign}}"
data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}">

    {{!-- ERROR MESSAGE FOR PREVIEW PROMOTION - BEGIN --}}
    {{#if previewPromotion}}
        {{#if previewImageUrl}}
        {{else}}
            <div style="background-color:#ffff00">The Promotion you are trying to preview is either <b>missing an imageUrl</b> or the <b>image asset is not assigned to the content zone being used in this template</b>.</div>
        {{/if}}
    {{/if}}
    {{!-- ERROR MESSAGE FOR PREVIEW PROMOTION - END --}}

    {{!-- DISPLAY PROMOTIONAL CAMPAIGN ( auto switch between Einstein Decisons and Preview Selection ) - BEGIN --}}
    <a class="mcis-promotion-link" href="{{#if previewPromotion}}{{#if preview}}{{previewUrl}}{{/if}}{{else}}{{url}}{{/if}}" data-evg-item-id="{{#if previewPromotion}}{{#if preview}}{{previewId}}{{/if}}{{else}}{{id}}{{/if}}" data-evg-item-type="Promotion">
        <img class="mcis-promotion-img" src="{{#if previewPromotion}}{{#if preview}}{{previewImageUrl}}{{/if}}{{else}}{{imageUrl}}{{/if}}">
    </a>
    {{!-- DISPLAY PROMOTIONAL CAMPAIGN ( auto switch between Einstein Decisons and Preview Selection ) - END --}}

</div>
